* {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

.title {
  color: #000;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 0.7rem;
}

#circle {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #c4c4c4;
}

#gap {
  width: 3px;
  height: 3px;
}

.title-description {
  color: var(--Gray-2, #4f4f4f);
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  margin-left: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

#cheesecake {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 352px;
  height: 202px;
}

#flex-box {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  grid-area: right;
  gap: 0;
}

#icon {
  grid-area: left;
  margin-right: 0.4rem;
}

.grid-box {
  display: grid;
  grid-template: "left right" min-content / max-content max-content;
  align-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#small-titles {
  color: var(--Gray-4, #bdbdbd);
  font-family: Montserrat;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

#numbers {
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#yields {
  margin-left: 0.7rem;
  margin-top: 1.5rem;
  width: 131px;
  height: 26px;
}

#threeheaders {
  color: var(--Gray-4, #bdbdbd);
  font-family: Montserrat;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

#timenumbers {
  color: var(--Gray-1, #333);
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#horizontal-flex {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-content: center;
  margin-top: 1.3rem;
}

#time {
  width: 111px;
  height: 26px;
}

#first {
  width: 111px;
  height: 26px;
  margin-left: 0.7rem;
}

.ingredients {
  color: var(--Gray-1, #333);
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.3rem;
  margin-left: 0.75rem;
}

.part {
  color: var(--Gray-1, #333);
  font-family: Playfair Display;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.8rem;
}

#graham {
  margin-top: 0.8rem;
}

input {
  margin-left: 0.8rem;
}

.circles {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: repeat(3, min-content);
  margin-left: 0.7rem;
  margin-top: 0.94rem;
}

#new-line::after {
  content: "\a";
  white-space: pre;
}

#circles-text {
  display: grid;
  grid-template-columns: min-content auto;
  margin-top: 0.75rem;
}
